@model IEnumerable<PropertyListingModel>

@{
}
@await Component.InvokeAsync("TopMenu")
<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_PropertyCard" model="item"></partial>
    }
</div>

@if(ViewData["title"] is not null)
{
    <p>@ViewData["title"]</p>
}
